powershell/CheckRule/CheckRule.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="rule">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string" />
              <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
              <xs:element minOccurs="0" name="description" type="xs:string" />
              <xs:element minOccurs="0" name="severity" type="xs:string" />
              <xs:element minOccurs="0" name="type1" type="xs:string" />
              <xs:element minOccurs="0" name="regex1" type="xs:string" />
              <xs:element minOccurs="0" name="join" type="xs:string" />
              <xs:element minOccurs="0" name="type2" type="xs:string" />
              <xs:element minOccurs="0" name="regex2" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>